$color1: #fff;
$color2: #3c3c3c;
@mixin flex {
	display: flex;
	justify-content: center;
	align-items: center;
}
@mixin frames {
	width: 75vw;
	text-align: center;
	margin: 10vw;
	border: 2px solid $color2;
	padding: 50px 12%;
}

body {
	font-family: 'Lato', sans-serif;
	letter-spacing: 1px;
	color: $color2;
	margin: 0;
	padding: 0;
}
h2 {
font-size: 38px;
text-transform: uppercase;
letter-spacing: 3px;
margin: 0;
padding: 0 15%;
position: relative;
bottom: 75px;
display: inline-block;
background-color: white;
}
h3 {
	text-transform: uppercase;
	padding: 1%;
}

/* ...........HEADER............. */

header {
    background-image: url("../images/header.jpg");
    height: 100vh;
    background-size: cover;
    background-repeat: no-repeat;
    color: $color1;
    @include flex;
    flex-direction: column;
    text-align: center;
    text-transform: uppercase;
.text > {
h1 {
	font-size: 54px;
		}
p {
	font-size: 16px;
	line-height: 24px;
	}
}
button {
	background-color: transparent;
	border: 2px solid $color1;
	border-radius: 11px;
	height: 39px;
	width: 27px;
	position: relative;
	top: 100px;
	left: calc(50%-13.5px);
	cursor: pointer;
	opacity: 0.6;
	&:hover {
	transition: 1s;
	opacity: 1;
	}
.fa-circle {
	font-size: 5px;
	color: $color1;
	opacity: 0.1;
	position: absolute;
	top: 12px;
	left: 40%;
		}
	}
}

/* .......................ABOUT................... */

.about_us {
	@include flex;

.about_container {
	@include frames;
	color: $color2;
p {
	vertical-align: center;
	padding: 0;
	margin: 0 0 40px 0;
		}
	}
}

/* .....................SERVICES.................... */

.services {
	background-image: url("../images/services.jpg");
	background-size: cover;
	padding: 10%;
	color: $color1;

.services_container {
	border: 2px solid #fff;
	border-top: none;
	position: relative;
	text-align: center;
	padding: 50px 12%;

 h2 {
	position: relative;
	bottom: 70px;
	display: inline-block;
	width: 100%;
	text-align: center;
	padding: 0;
	background-color: transparent;
}
 p {
	letter-spacing: 2px;
}
&:before {
    content: "";
    display: block;
    width: 30%;
    height: 2.5px;
    position: absolute;
    top: 0;
    left: 0;
    background-color: $color1;
}
&:after {
    content: "";
    display: block;
    width: 30%;
    height: 2.5px;
    position: absolute;
    top: 0;
    right: 0;
    background-color: $color1;
		}
	}
}

/* .................WHAT WE DO.................. */

.what_we_do {
	@include flex;

.what_we_do_container {
	@include frames;

.shape {
	padding: 5%;
		}
	}
}

/* ...................OUR WORKS.................. */

.our_works {
	@include flex;
	flex-wrap: wrap;
.pic {
	background-size: cover;
	background-repeat: no-repeat;
	margin: 2px;
	min-width: 380px;
	height: 200px;
	position: relative;
	cursor: pointer;
	display: flex;
	flex-grow: 1;
	transition: 1s;
	&:hover {
		flex-grow: 3;
		opacity: 0.8;
	}
	p {
		font-size: 38px;
		text-transform: uppercase;
		color: $color1;
		margin: 10px;
		position: absolute;
		bottom: 0;
	}
}
.pic1 {
	background-image: url("../images/layer1.jpg");
}
.pic2 {
	background-image: url("../images/layer2.jpg");
}
.pic3 {
	background-image: url("../images/layer3.jpg");
}
.pic4 {
	background-image: url("../images/layer4.jpg");
}
.pic5 {
	background-image: url("../images/layer5.jpg");
}
.pic6 {
	background-image: url("../images/layer6.jpg");
}
}

/* .................CONTACT................. */
.contact {
	@include flex;
	flex-direction: column;

	.contact_container {
		@include frames;
		width: 55vw;

		button {
		width: 300px;
		border: none;
		color: $color1;
		background-color: $color2;
		padding: 10px;
		letter-spacing: 1px;
		margin: 20px;
		cursor: pointer;
		transition: 1s;
		&:hover {
			opacity: 0.7;
		}
		}
	}
}

/* ...............FOOTER............. */
footer {
	@include flex;
	text-align: center;
	padding: 0 0 20px;
	img {
	padding-right: 10px;
	}
}
